*	
body, h1, h2, ul, li {	
	margin: 0;	
	padding: 0;
	
}	
	
body {	
	font-family: Arial,	sans-serif;
	/*background-color:#f0f0f0 ;*/
	background-image: url('images/picture.jpeg');
    background-size:cover ;
    background-repeat: no-repeat;
	color: #333;
}	
	
header {	
	background-color:#341515;
	color:	white;
	text-align: center;
	padding: 20px 0;
}	
	
nav	{
	background-color:#444;
}	
	
nav	ul {
	list-style-type: none;
	padding: 10px 0;
}	
	
nav	ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	color:white;
	text-decoration:none;
}

main {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

section {
	background-color: #f0f0f0;
	border: 1px solid #776d6d;
	padding : 20px;
	flex: 1;
	margin-right: 20px;
	border-radius: 10px;
}
h2 img {
    margin-right: 20px;
    width: 50px; 
    height: 50px;
}
footer {
	background-color: #341515;
	color: white;
	text-align: center;
	padding: 10px 0;
	position:absolute;
    bottom: 0;
    width: 100%;
}
.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
	border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

