<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Data_visualization</title>
	<link rel="stylesheet" href="//wsl.localhost/Ubuntu-20.04/home/sierra-95/sensor-logger/web_flask/static/css/styles.css">
</head>
<body>
	<header>
    	<h1>Sensor Logger</h1>
	</header>
	<nav>
    	<ul>
        	<li><a href="//wsl.localhost/Ubuntu-20.04/home/sierra-95/sensor-logger/web_flask/templates/index.html">Home</a></li>
	        <li><a href="//wsl.localhost/Ubuntu-20.04/home/sierra-95/sensor-logger/web_flask/templates/login.html">RFID</a></li>
	        <li><a href="#">Settings</a></li>
    	</ul>
	</nav>
	<main>
        <section class="Datavisualization-data">
            <h2>Data visualization</h2>
            <p>Nothing displayed for now</p>
        </section>
    </main>
	<footer>
    	<p>&copy; sierra-95</p>
	</footer>
</body>
</html>
