<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="//wsl.localhost/Ubuntu-20.04/home/sierra-95/sensor-logger/web_flask/static/css/styles.css">
</head>
<body>
	<header>
    	<h1>Sensor Logger</h1>
	</header>
	<nav>
    	<ul>
        	<li><a href="//wsl.localhost/Ubuntu-20.04/home/sierra-95/sensor-logger/web_flask/templates/index.html">Home</a></li>
	        <li><a href="//wsl.localhost/Ubuntu-20.04/home/sierra-95/sensor-logger/web_flask/templates/login.html">RFID</a></li>
	        <li><a href="#">Settings</a></li>
    	</ul>
	</nav>
	<main>
				
		<section class="sensor-data">
			<h2>Sensor Data<img src="//wsl.localhost/Ubuntu-20.04/home/sierra-95/sensor-logger/web_flask/static/images/temperature-sensor.png" alt="Sensor Icon"> </h2>
			<div class="dropdown">
				<button class="dropbtn">Sensor selection</button>
				<div class="dropdown-content">
					<a href="humidity.html">Humidity</a>
					<a href="temprature.html">Temperature</a>
				</div>
			</div>
		</section>
		<section class="visualization">
	        <h2>Data Visualization<img src="//wsl.localhost/Ubuntu-20.04/home/sierra-95/sensor-logger/web_flask/static/images/graph.png" alt="Chart Icon"> </h2>
			<a href="data_visualization.html">view data analysis</a>
	    </section>
	</main>
	<footer>
    	<p>&copy; sierra-95</p>
	</footer>
</body>
</html>
